<% include ./partials/header %>
 <div class="container">
  <% allpost.forEach(function(post){ %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">@<%= post.userid.username %></h5>
          <p class="card-text"><%= post.data %></p>
          <p class="card-text"><%= post.likes.length %> likes</p>
          <a href="/like/<%= post._id %>" class="btn <%= post.likes.indexOf(user._id) === -1 ? 'btn-primary' : 'btn-danger' %>"><%= post.likes.indexOf(user._id) === -1 ? "like" : "unlike" %></a>
        </div>
      </div>
 <% }) %>
 </div>
 <% include ./partials/footer %>